SayHelloService/war/src/main/webapp/WEB-INF/wsdls/SayHello.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.karthik.spring.learning/SayHello/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SayHello" targetNamespace="http://com.karthik.spring.learning/SayHello/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://com.karthik.spring.learning/SayHello/">
      <xsd:element name="SayHelloOperationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SayHelloOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="HelloMessage" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SayHelloOperationRequest">
    <wsdl:part element="tns:SayHelloOperationRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SayHelloOperationResponse">
    <wsdl:part element="tns:SayHelloOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="SayHello">
    <wsdl:operation name="SayHelloOperation">
      <wsdl:input message="tns:SayHelloOperationRequest"/>
      <wsdl:output message="tns:SayHelloOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SayHelloSOAP" type="tns:SayHello">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SayHelloOperation">
      <soap:operation soapAction="http://com.karthik.spring.learning/SayHello/SayHelloOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SayHello">
    <wsdl:port binding="tns:SayHelloSOAP" name="SayHelloSOAP">
      <soap:address location="http://localhost:8080/SayHelloService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
